@import url(header/header.css);
@import url(halls/halls.css);
@import url(booking/booking.css);
@import url(about/about.css);
@import url(request/request.css);
@import url(questions/questions.css);
@import url(contacts/contacts.css);

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-style: normal;
    background-color: #1B1A1B;
    color:#FFFFFF;
}


img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}


button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset,
blockquote {
    margin: 0;
}

iframe {
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
}

section,footer {
    padding-top: 50px;
    margin-bottom: 50px;
}
