.contacts__locate:not(:last-of-type) {
    margin-bottom: 38px;
}

.contacts__info {
    display: inline-block;
    padding-left: 30px;
}

.contacts__item {
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    height: 48px;
    width: 48px;
    color: wheat;
    margin: 0;
    display: inline-block;
    margin-right: 28px;
}

.contacts__item:last-child {
    margin-right: 0;
}

.contacts__img--bottom {
    vertical-align: bottom;
}

.contacts__list {
    padding-top: 38px;
}
